.calendar-container {
	width: 640px;
	padding: 0;
	margin: 0;
	list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
	-webkit-padding-start: 0px;
}

.month-container {
	padding: 0;
	margin: 0;
	list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: flex-start;
  -webkit-padding-start: 0px;
}

.days-container>span {
	width: 280px;
	padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.days-item {
	width: 36px;
  height: 36px;
  line-height: 36px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
  padding: 0px;
}

.day-over {
	background: rgb(204, 248, 235);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.day-clicked, .day-inbetween {
	background: rgb(0, 132, 137);
  color: rgb(255, 255, 255);
  cursor: pointer;
}